.swiper {
  width: 100%;
  height: 100%;
}
.homeSwiper .swiper-wrapper {
  border-radius: 0 !important;
}

.homeSwiper.swiper-slide {
  border-radius: 0 !important;
}

.homeSwiper .rounded-large {
  border-radius: 0 !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
