.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 1rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.transition-transform-opacity {
  opacity: 1 !important;
}

.mySwiper_productGallery {
  height: 146px;
  /* z-index: 9999; */
}

.mySwiper_productGallery .swiper-pagination {
  position: absolute !important;
  bottom: 16px !important;
}

.mySwiper_productGallery .swiper-pagination .swiper-pagination-bullet {
  background-color: #854CBF !important;
}
