@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  max-width: 1180px;
  width: 100%;
  gap: 1rem;
  padding-left: 16px;
  padding-right: 16px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@keyframes glowing-green {
  0% {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  50% {
    box-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  }
  100% {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
}

@keyframes glowing-yellow {
  0% {
    box-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00;
  }
  50% {
    box-shadow: 0 0 20px #ffff00, 0 0 30px #ffff00, 0 0 40px #ffff00;
  }
  100% {
    box-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00;
  }
}

@keyframes glowing-red {
  0% {
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
  50% {
    box-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
  }
  100% {
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
}

@keyframes glowing-gray {
  0% {
    box-shadow: 0 0 10px #777777, 0 0 20px #777777, 0 0 30px #777777;
  }
  50% {
    box-shadow: 0 0 20px #777777, 0 0 30px #777777, 0 0 40px #777777;
  }
  100% {
    box-shadow: 0 0 10px #777777, 0 0 20px #777777, 0 0 30px #777777;
  }
}

@keyframes glowing-paused {
  0% {
    box-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 30px #ffa500;
  }
  50% {
    box-shadow: 0 0 20px #ffa500, 0 0 30px #ffa500, 0 0 40px #ffa500;
  }
  100% {
    box-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 30px #ffa500;
  }
}

@keyframes radiating {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.glowing-a {
  animation: glowing-green 1.5s infinite, radiating 1.5s infinite;
}

.glowing-b {
  animation: glowing-yellow 1.5s infinite, radiating 1.5s infinite;
}

.glowing-c {
  animation: glowing-red 1.5s infinite, radiating 1.5s infinite;
}

.glowing-d {
  animation: glowing-gray 1.5s infinite, radiating 1.5s infinite;
}

.glowing-e {
  animation: glowing-paused 1.5s infinite, radiating 1.5s infinite;
}

.clip-path-wrapper {
  clip-path: polygon(0 0%, 100% 0%, 70% 100%, 0% 100%);
}

.clip-path-wrapper-right {
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
}

.clip-path-wrapper-right-con {
  clip-path: polygon(28% 0, 100% 0%, 100% 100%, 0% 100%);
}

.preview-card {
  width: 100%;
  height: 100%;
}

.ads-banner {
  width: 100%;
  height: 100%;
}

.ads-banner img {
  width: 100%;
}

.chrome-picker .flexbox-fix:nth-of-type(2) {
  display: none !important;
}

.chrome-picker :first-child {
  border-radius: 16px !important;
}
