@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  max-width: 1180px;
  width: 100%;
  gap: 1rem;
  padding-left: 16px;
  padding-right: 16px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
